@import 'onboarding-slide.common';

.slide {
    &-btn, &-btn-outline {
        font-size: 16;
    }
    &-btn-skip {
        padding-top: 40;
    }
    &-btn-outline {
        margin-top: 20;
    }
    &-image.shrink {
        width: 250;
        height: 250;
    }
}
